[[plugins]]
  package = "@netlify/plugin-gatsby"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[functions]
  directory = "netlify/functions"
  included_files = ["*"]
  node_bundler = "esbuild"
  external_node_modules = ["stripe", "resend"]

[build]
  command = "gatsby build"
  publish = "public"

[build.processing.secrets_scan]
  omit_paths = [
    "public/page-data/**",
    "public/blog/**"
  ]

[[redirects]]
from = "/qr/review"
to = "https://g.page/r/Cb8gf5h0tb1MEBM/review"
status = 301
force = true

[[redirects]]
from = "/qr/review/"
to = "https://g.page/r/Cb8gf5h0tb1MEBM/review"
status = 301
force = true