[[plugins]]
  package = "@netlify/plugin-gatsby"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[functions]
  directory = "netlify/functions"
  included_files = ["*"]
  node_bundler = "esbuild"
  external_node_modules = ["stripe", "resend"]

[build]
  command = "gatsby build"
  publish = "public"

[build.processing.secrets_scan]
  omit_paths = [
    "public/page-data/**",
    "public/blog/**"
  ]

[[redirects]]
from = "/qr/review"
to = "https://g.page/r/Cb8gf5h0tb1MEBM/review"
status = 301
force = true

[[redirects]]
from = "/qr/review/"
to = "https://g.page/r/Cb8gf5h0tb1MEBM/review"
status = 301
force = true

[[redirects]]
from = "/15min/"
to = "/contact/"
status = 301
force = true

[[redirects]]
from = "/15min"
to = "/contact/"
status = 301
force = true

[[redirects]]
from = "/new-landing-page"
to = "/"
status = 301
force = true

[[redirects]]
from = "/new-landing-page/"
to = "/"
status = 301
force = true

[[redirects]]
from = "/car-broker"
to = "/"
status = 302
force = true

[[redirects]]
from = "/car-broker/"
to = "/"
status = 302
force = true

[[redirects]]
from = "/used-car-broker"
to = "/"
status = 302
force = true

[[redirects]]
from = "/used-car-broker/"
to = "/"
status = 302
force = true

[[redirects]]
from = "/fb/vip"
to = "/vip-consultation/vip/?utm_source=facebook&utm_medium=social&utm_campaign=jan_social_awareness&utm_content=organic_post"
status = 302
force = true

[[redirects]]
from = "/ig/vip"
to = "/vip-consultation/vip/?utm_source=instagram&utm_medium=social&utm_campaign=jan_social_awareness&utm_content=organic_post"
status = 302
force = true

[[redirects]]
from = "/ln/vip"
to = "/vip-consultation/vip/?utm_source=linkedin&utm_medium=social&utm_campaign=jan_social_awareness&utm_content=organic_post"
status = 302
force = true


[dev]
  command = "gatsby develop"
  targetPort = 8000
