@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Prevent page shift */
html {
  overflow-y: scroll;
}

/* ✅ Ensure Calendly popup scales properly */
.calendly-popup,
.calendly-overlay {
  @apply fixed inset-0 w-screen h-screen z-[999999] flex items-center justify-center bg-black/50;
}

/* ✅ Scale Calendly popup on large screens */
.calendly-popup iframe {
  width: 90vw !important; /* Take up 90% of the screen width */
  max-width: 800px !important; /* Limit width to 800px on large screens */
  height: 90vh !important; /* Take up 90% of the viewport height */
  max-height: 90vh !important;
  display: block !important;
  border-radius: 8px; /* Optional: Add rounded corners for better look */
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600;
}

@font-face {
  font-family: 'Pirulen';
  src: url('/fonts/Pirulen-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Light Oblique';
  src: url('/fonts/helvetica-light-oblique.woff2') format('woff2');
  font-weight: 300;
  font-style: oblique; /* ✅ This ensures proper italic rendering */
  font-display: swap;
}

