@tailwind base;
@tailwind components;
@tailwind utilities;


/* Prevent page shift */
html, body {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain; /* Prevent bounce effect */
}

.calendly-popup {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.calendly-overlay {
  background-color: rgba(0, 0, 0, 0.7); /* Darker overlay for better focus */
}

.calendly-popup {
  width: 100% !important;
  height: 100% !important;
  max-height: 100vh !important;
  overflow-y: auto !important;  /* Ensures scrolling */
  display: flex !important;
  flex-direction: column !important;
  background-color: #fff; /* Ensures background fills correctly */
}

.calendly-overlay {
  position: fixed !important;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed overlay */
  z-index: 9999;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600;
}

@font-face {
  font-family: 'Pirulen';
  src: url('/fonts/Pirulen-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Light Oblique';
  src: url('/fonts/helvetica-light-oblique.woff2') format('woff2');
  font-weight: 300;
  font-style: oblique; /* ✅ This ensures proper italic rendering */
  font-display: swap;
}

